<section class="animals-view">
  <div class="animals-container">
    <div class="animals-select">
      <mat-form-field>
        <mat-label>What would you like to see?</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Cats</mat-option>
          <mat-option value="2">Dogs</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="25%">
      <mat-grid-tile *ngFor="let cat of cats">
        <img src={{cat.url}}>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>