<section class="animals-view">
  <div class="animals-container">
    <button mat-stroked-button class="action-more" (click)="loadMore()" [disabled]="isLoading">Moar</button>
    <mat-divider></mat-divider>
    <mat-progress-bar mode="indeterminate" color="accent"
      [ngStyle]="{'visibility' : isLoading ? 'visible' : 'hidden'}"></mat-progress-bar>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="48px"
      [ngStyle]="{'visibility' : !isLoading ? 'visible' : 'hidden'}">
      <mat-grid-tile *ngFor="let cat of cats">
        <mat-card>
          <img mat-card-image src={{cat.url}}>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>